{% extends 'base.html' %}
{% load static %}

{% block header %}
{{ title }}
{% endblock header %}

{% block content %}

    {% include 'loader.html' %}
    {% include 'navbar.html' %}

     {% if messages %}
        {% for message in messages %}
        {% include 'messages.html' with message_var=message %}
        {% endfor %}
    {% endif %}


   {% include "accounts/account-nav.html" with link_path=page %} {#  Navigation du member account #}

    <section class="bg-light tab-content pt-5">
      <div class="tab-pane fade show active">
        <div class="container">

          <div class="row mb-4 mb-md-5 align-items-start">
            <div class="col-lg-4 order-lg-2 mb-4 mb-lg-0 sticky-lg-top pl-lg-5">
              <div class="alert alert-primary">Vos informations sont toujours cryptées et ne peuvent jamais être consultées par des tiers.
                <a href="#">Consultez notre politique de confidentialité</a>
              </div>
            </div>
            <div class="col-lg-8 border-lg-right pr-lg-5">
              <div class="row mb-lg-5">
                <div class="col">
                  <h3>Changer de mot de passe</h3>
                </div>
              </div>
                <form method="POST">
                    {% csrf_token %}
                <div class="form-group">
                  <label for="password">{{ form.password.label }}</label>
                  {{ form.password }}
                </div>
                <div class="form-group">
                  <label for="email">{{ form.new_password.label  }}</label>
                  {{ form.new_password  }}
                </div>
                <div class="form-group">
                  <label for="email">{{ form.confirm_password.label  }}</label>
                  {{ form.confirm_password  }}
                </div>

                <button class="btn btn-primary" type="submit">Sauvegarder</button>
              </form>

            </div>
          </div>


        </div>
      </div>
    </section>

   {% include 'footer.html' %}

    <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
      <img src="{% static 'img/icons/interface/icon-arrow-up.svg' %}" alt="Icon" class="icon bg-white" data-inject-svg>
    </a>


{% endblock content %}

