{% extends 'base.html' %}
{% load static %}

{% block header %}
{{ title }}
{% endblock header %}

{% block content %}

    {% include 'loader.html' %}
{#   {% include 'messages.html' %}#}

    <div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center">
      <section class="py-3">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6">
              <div class="card card-body shadow">
                <h1 class="h4 text-center">Problèmes de connexion ?</h1>
                  <p class="lead">Vous allez recevoir un lien pour réinitialiser votre mot de passe.</p>
                <form method="POST">
                    {% csrf_token %}
                  <div class="form-group">
                      {{ form.as_p }}
                  </div>
                  <button class="btn btn-primary btn-block" type="submit">Envoyer le lien</button>
                </form>
              </div>
              <div class="text-center text-small mt-3">
                Vous connaissez votre mot de passe ? <a href="{% url 'accounts:login' %}">Connectez-vous</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


    {% include 'footer.html' %}

    <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll data-aos="fade-up" data-aos-offset="2000" data-aos-mirror="true" data-aos-once="false">
      <img src="{% static 'img/icons/interface/icon-arrow-up.svg' %}" alt="Icon" class="icon bg-white" data-inject-svg>
    </a>

{% endblock content %}

