{% extends 'base.html' %}
{% load static %}

{% block header %}
{{ title }}
{% endblock header %}

{% block content %}

    {% include 'loader.html' %}


    <div data-overlay class="min-vh-100 bg-light d-flex flex-column justify-content-md-center">
      <section class="py-3">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6">
              <div class="card card-body shadow">
                <h1 class="h4 text-center">Changer de mot de passe</h1>
             {% if validlink %}
            <form method="POST">
              {% csrf_token %}
                <div class="form-group">
                    <label for="new_password1">{{ form.new_password1.label }}</label>
                      {{ form.new_password1 }}
                  </div>
                <div class="form-group">
                    <label for="new_password2">{{ form.new_password2.label }}</label>
                      {{ form.new_password2 }}
                  </div>
             <button class="btn btn-primary btn-block" type="submit">Changer mot de passe</button>
            </form>
          {% else %}
            <p>
              Le lien de réinitialisation du mot de passe n'est pas valide, peut-être parce qu'il a déjà été utilisé.
              Veuillez demander une nouvelle réinitialisation du mot de passe. <br>
            <a href="{% url 'accounts:password_reset' %}">vous connecter</a>
            </p>
          {% endif %}


              </div>
          </div>
        </div>
        </div>
      </section>
    </div>


{% endblock content %}





