{% extends 'base.html' %}
{% load static %}

{% block header %}
{{ title }}
{% endblock header %}

{% block content %}

{% include 'loader.html' %}


      <section class="py-3 mt-3">
        <div class="container">
            <h1 class="h3">Merci de regarder dans votre boite mail</h1>
    <p
    >Nous vous avons envoyé par e-mail des instructions pour définir un nouveau mot de passe. Si un compte existe avec l'e-mail que vous avez entré, vous devriez les recevoir sous peu.
  </p>
  <p>
      Si vous ne recevez pas d'e-mail, assurez-vous d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit et vérifiez le dossier des courriers indésirables.
  </p>

      </div>
      </section>



{% endblock content %}